---
- name: Playbook para hacer el deploy de la aplicación web PrestaShop
  hosts: frontend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Borrar instalciones previas de wordpress wp-cli
      file:
        path: /tmp/wp-cli.phar

    - name: Descargar el código fuente de Wordpress
      get_url:
        url: https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
        dest: /tmp
        mode: 0755 
  
    - name : Borramos instalaciones previas de wordpress
      shell: rm -rf /var/www/html/*
    
    - name : Descargamos el código fuente de worpress en /var/www/html
      command: wp core download --locale=es_ES --path=/var/www/html --allow-root         
    
    - name: Instalar Wordpress desde CLI
      command:
        wp config create \
        --dbname="{{ wordpress.WORDPRESS_DB_NAME }}" \
        --dbuser="{{ wordpress.WORDPRESS_DB_USER }}" \
        --dbpass="{{ wordpress.WORDPRESS_DB_PASSWORD }}" \
        --path=/var/www/html \
        --allow-root
      args:
        chdir: /var/www/html/install
      
    - name: Instalar Wordpress desde CLI
      command:
        wp core install \
        --url="{{ wordpress.CB_DOMAIN }}" \
        --title="{{ wordpress.WORDPRESS_TITLE }}" \
        --admin_user="{{ wordpress.WORDPRESS_ADMIN_USER }}" \
        --admin_password="{{ wordpress.WORDPRESS_ADMIN_PASS }}" \
        --admin_email="{{ wordpress.WORDPRESS_ADMIN_EMAIL }}" \
        --path=/var/www/html \
        --allow-root
      args:
        chdir: /var/www/html/install
    - name: Actualizamos los plugins de wordpress
      command: wp core update --path=/var/www/html --allow-root

    - name: Actualizamos los temas 
      command: wp theme update --all --path=/var/www/html --allow-root

    - name: Instalamos un tema 
      command: wp theme install "{{ wordpress.TEMA }}" --activate --path=/var/www/html --allow-root
    
    - name: Actualizamos los plugins de wordpress
      command: wp plugin update --all --path=/var/www/html --allow-root

    - name: Instalamos un plugin 
      command: wp plugin install "{{ wordpress.PLUGIN }}" --activate --path=/var/www/html --allow-root

    - name: Instalamos otro plugin
      command: wp plugin install "{{ wordpress.PLUGIN2 }}" --activate --path=/var/www/html --allow-root
    
    - name: Copiamos el archivo .htaccess
      template:
        src: ../templates/.htaccess
        dest: /var/www/html
        mode: 0755
    - name: Modificamos los permisos del directorio /var/www/html
      file:
        path: /var/www/html
        owner: www-data
        group: www-data
        recurse: yes
        mode: 0755